@page
@model ComicWebstoreExa.Pages.Cart.TransactionCompletedModel
@{
}
<div style="font-family: Comic Sans MS"><h1>  Purchase completed!  </h1></div>   
<img src="https://c.tenor.com/hI-oOVvwasYAAAAC/happy.gif" alt="YES!" />

    
        