@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Comic Book Webstore</h1>

    <div>

        <h3>  Welcome!  </h3>
        

       <h3>  Let's to start buying stuff  </h3>

        
       
    </div>

    

    <img src="https://www.mercurynews.com/wp-content/uploads/2021/01/SJM-L-PIZARRO-COL-0122-01.jpeg?w=1000" alt="Image!" />

</div>
<div class="text-center">
    <form method="get">
        <button type="submit" asp-page="./Login/Login">ENTER</button>
    </form>

</div>