@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Comic Book Webstore</h1>

    <div>

        <h3>  Welcome!  </h3>
        

       <h3>  Log in to start buying stuff  </h3>

        

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="#" alt="Image!" />

</div>
